<div class="panel panel-primary">
    <div class="panel-heading"> {{pageTitle}} </div>
    <div class="panel-body">
        <div class="row">
            <img src="" alt="">
            <div class="row">
                <div class="text-center">Developed by:</div>
                <h3 class="text-center">Alex sid</h3>
                <div class="text-center">1torvald1@gmail.com</div>
                <div class="text-center">
                    <a href="http://www.readmine.yanpix.com">Work</a></div>
            </div>
        </div>
    </div>
</div>